=render 'search_form'
-if @events.empty?
  %h1 There are no events happening at your locations
-else
  %h1{style: 'text-align: center; margin-left: auto; margin-right: auto'} Upcoming Events
  =render 'events'